.sliderTop {
  width: 100%;
  /* background-color: lightgreen; */
  /* padding: 40px; */
  box-sizing: border-box;
}
.sliderTop .center {
  width: 1425px;
  /* height: inherit; */
  margin: 0 auto;
  /* background-color: lightpink; */
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
}
.sliderTop .center .left {
  width: 430px;
  height: 430px;
  /* height: inherit; */
  /* background-color: brown; */
  display: inline-block;
}
.sliderTop .center .left img {
  width: 100%;
  /* height: inherit; */
  object-fit: cover;
  display: block;
  border-radius: 30px;
}
.sliderTop .center .right {
  width: 930px;
  /* height: inherit; */
  height: 430px;
  /* background-color:blue; */
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.sliderTop .center .right img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 45px;
  height: 45px;
  background-color: lightgray;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  color: black;
}
